.vertical-center-form {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  
  .container {
    width:800px;
    max-width: 100%;
  }
